body {
    font-family: sans-serif;
     background: #b5a5a5;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 700%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
   
    padding-left: 40px;
    padding-right: 50px;
}

