body {
    font-family: sans-serif;
     background: #b5a5a5;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 700%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
   
    padding-left: 40px;
}

.container{
                max-width:800px;
                color:blue;
                font-family:sans-serif;
                margin: 0 auto;
                padding-left: 30px;
                padding-right: 40px;
                padding-top: 50px;
                
    }