body {
    font-family: sans-serif;
    background: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    color: maroon;
}

.img-medium {
    height: 200px;
}

 .container{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    max-width: 600px;
    margin: 5 auto;
    color: grey;
    font-family: sans-serif;
}

