body {
    font-family: sans-serif;
    background: grey;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 700%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
    padding-right: 20px;
    padding-left: 500px;
    padding-top: 500px;
    font-family: sans-serif;
}

